.App {
    display: flex;
    flex-direction: column;
    min-height: 85.5vh; / Fill the viewport height /
}


.content {
    flex: 1 0 auto; / Grow to fill available space /
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .footer {
        font-size: 0.8rem;
    }
}